@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="bgp@gmail.com">bgp@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="pazldima@gmail.com">pazldima@gmail.com</a>
</address>
